
<html>
<ul data-bind="foreach: books">
        <li>
            <span data-bind="text: model"></span>
        </li>
        <li>
            <span data-bind="text: price"></span>
        </li>
    </ul>
</html>    
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    
    <script src="Books.js"></scripts>
    
